body {
  background-color: azure;
}
h1 {
  text-align: center;
}
form {
  margin: 0 30px;
  background-color: white;
  padding: 30px;
}
#organ {
  width: 80%;
  height: 30px;
  border-radius: 30px;
  border: none;
  background-color: azure;
}
#submitButton {
  height: 30px;
  border-radius: 10px;
  border: none;
  background-color: rgb(182, 227, 227);
  width: 17%;
}
#fact {
  font-size: 30px;
  text-align: center;
}
.icon {
  display: inline-block;
  animation: rotateIcon 2s linear infinite;
}
@keyframes rotateIcon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
footer {
  margin-top: 30px;
  text-align: center;
  font-size: 12px;
}
