body {
  background-color: azure;
}
h1 {
  text-align: center;
}
form {
  margin: 0 30px;
  background-color: white;
  padding: 30px;
}
#organ {
  width: 80%;
  height: 30px;
  border-radius: 30px;
  border: none;
  background-color: azure;
}
#submitButton {
  height: 35px;
  border-radius: 10px;
  border: none;
  background-color: rgb(174, 245, 245);
  width: 15%;
}
#fact {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer {
  margin-top: 30px;
  text-align: center;
  font-size: 12px;
}
